h1{
    color: rgb(244, 127, 255);
}

img{
    width: 400px;
}

#thirdDiv {
    background-color: black;
    height: 600px;
    width: 500px;
    padding: 50px;
    border-style: solid;
    border-radius: 2em;
}
#spanId{
margin: 50px;
    font-size: 18px;
}


/* 
G. Agregue una regla de estilo a 'thirdDiv' cambiando la altura a 600px y el ancho a 500px.
  H. Agregue una regla de estilo a 'thirdDiv' cambiando el color de fondo por el que quiera.
  I. Cambie el tamaño de la fuente para 'spanId' a 18px.
  J. Asignar al id 'spanId' un margen de 50px.
  K. Asignar al id 'thirdDiv' un relleno (padding) de 50px.
  L. Asignar al id 'thirdDiv' un borde con cualquier ancho de color y estilo que elija. */